

/********************************
            classes
*********************************/

.navbar {
    border-bottom: 1px solid #dbd2d2;
    padding: .5em;
    background-color: #ffcfa5;
}


.navbar .container {
    align-items: center;
    display: flex;
    justify-content: center;
}

.navbar-nav {
    display: flex;
    list-style: none;
    padding: 0; 
}

.navbar-nav li {
    margin-left: 1em;
    margin-right: 1em;
}

.navbar-brand{
    font-size: 1.8em;
    color: black;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: black;
}

.nav-item{
    text-decoration-color: rgb(236, 28, 0);
}

.nav-link{
    text-decoration: black;
    color: black;
}

.button{
    text-decoration: black;
    color: black;
    margin-left: 1em;
    margin-right: 1em;
}

.img{
    margin-top: 5em;
    display: block;
    width: 30em;
    align-self:center;
    
}

.descriptions{
    margin-top: 0em;
    width: 29em;
    align-self: center;
    background-color: #ffe6d0;
    color: #000000;
    padding-left: 0.5em;
    padding-right: 0.5em;

}

.jumbotron{
    margin-top: 4em;
    background-image: url(Assets/Header\ God\ of\ war.jpg);
    height: 20em;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 2em;
    position: relative;
}

.small-img{
    margin-top: 2em;
    display: block;
    width: 20em;
    align-self:center;
}

.sidebar{
    float: right;
}