

/********************************
            classes
*********************************/

.navbar {
    border-bottom: 1px solid #dbd2d2;
    padding: .5em;
    background-color: #ffffff;
}


.navbar .container {
    align-items: center;
    display: flex;
    justify-content: center;
}

.navbar-nav {
    display: flex;
    list-style: none;
    padding: 0; 
}

.navbar-nav li {
    margin-left: 1em;
    margin-right: 1em;
}

.navbar-brand{
    font-size: 1.8em;
    color: black;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: black;
}

.nav-item{
    text-decoration-color: rgb(236, 28, 0);
}

.nav-link{
    text-decoration: black;
    color: black;
}

.button{
    text-decoration: black;
    color: black;
    margin-left: 1em;
    margin-right: 1em;
}

.img{
    margin-top: 5em;
    display: block;
    border-top-left-radius: 1em;
    border-style: solid black 10em;
    border-top-right-radius: 1em;
    width: 30em;
    align-self:center;
    
}

.small-img{
    margin-top: 2em;
    display: block;
    border-top-left-radius: 1em;
    border-style: solid black 10em;
    border-top-right-radius: 1em;
    width: 20em;
    align-self:center;
}

.descriptions{
    margin-top: 0em;
    width: 29em;
    align-self: center;
    background-color: #ffffff;
    color: #000000;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.small-descriptions{
    margin-top: 0em;
    width: 23.1em;
    align-self: center;
    background-color: #ffffff;
    color: #000000;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.jumbotron{
    margin-top: 4em;
    background-image: url(Assets/Header\ God\ of\ war.jpg);
    height: 20em;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 2em;
    position: relative;
}

.jumbotron-p{
background-image: url(Assets/305679.png);
background-repeat: no-repeat;
background-size: 150em;
background-color: rgba(0, 0, 0, 0.192);
}

.sidebar{
    margin: auto;
    float:right;
    padding-top: 7em;
    padding-right: 20em;
}

.body{
    background-color: rgb(255, 255, 255);

}

.footer{
    background-color: rgb(255, 255, 255);
    margin-top: 65px;
    padding-left: 2em;
    padding-right: 15em;

}